<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ghost Post</title>
  </head>
  <body>
    <h1>{{ hello }}</h1>
    <div>
      <a href="/boast/">See all the Boasts!</a>
    </div>
    <div>
      <a href="/roast/">See all the Roasts!</a>
    </div>
    <div>
      <a href="/postform/">Submit a boast or a roast</a>
    </div>
    <div>
      <a href="/">See all Ghost Posts</a>
    </div>
    <div>
      {% for post in post_list %}

      <h3>{{post.content}}</h3>
      <h6>{{ post.post_time}}</h6>
      <div>
        {% if post.boast_or_roast %}
        <h4>Boast</h4>
        {% elif not post.boast_or_roast %}
        <h4>Roast</h4>
        {% endif %}
      </div>

      <div>
        <button>
          <a href="/upvote/{{ post.id }}/">Up: {{ post.up_votes }}</a>
        </button>
        <button>
          <a href="/downvote/{{ post.id }}/">Down: {{ post.down_votes }}</a>
        </button>
      </div>
      <div>
        <h6>Total votes: {{post.votes}}</h6>
      </div>
      <hr />
      {% endfor %}
    </div>
  </body>
</html>
